body {
    color: #000;
    font-family: "Montserrat", Arial, sans-serif;
    padding: 0;
    margin: 0;
}
* {
	outline: none;
}
.content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	min-height: 100vh;
	color: #fff;
}
.content > div {
	position: relative;
	z-index: 5;
}
.pic1 .content {
	background: url('../images/main-bg.jpg') no-repeat;
	background-size: cover;
	position: relative;
}
.pic1 .content:before {
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(255,255,255, 0.75);
}
.pic1 .content .scroll-down {
	position: absolute;
	bottom: 50px;
	left: 50%;
	margin-left: -25px;
}
.pic2 .content {
	background: url('../images/bg2.jpg') no-repeat;
	background-size: cover;
	position: relative;
}
.pic2 .content:before {
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0, 0.7);
}
.pic3 .content {
	background: url('../images/bg3.jpg') no-repeat;
	background-size: cover;
	position: relative;
}
.pic3 .content:before {
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0, 0.7);
}
.pic2 .items-wrapper {
	max-width: 90%; 
}
.pic2 .items-wrapper .slick-arrow {
	width: 60px;
	height: 60px;
	background: url('../images/next.svg') no-repeat;
	background-size: cover;
	font-size: 0;
	cursor: pointer;
	border: none;
	position: absolute;
	top: 50%;
	margin-top: -30px;
	opacity: 0.3;
	transition: all 0.4s;
}
.pic2 .items-wrapper .slick-arrow:hover {
	opacity: 1;
	transition: all 0.4s;
}
.pic2 .items-wrapper .slick-prev {
	transform: rotate(180deg);
	left: -60px;
}
.pic2 .items-wrapper .slick-next {
	right: -60px;
}
.pic2 .items-wrapper .item {
	margin: 0 19px; 
}
.pic2 .items-wrapper .item a {
	display: inline-block;
	color: #6f6f6f;
	text-decoration: none;
	transition: all 0.2s ease 0s;
}
.pic2 .items-wrapper .item a:hover {
	color: #fff;
}
.pic2 .items-wrapper .item a .img {
	transition: all 0.2s ease 0s;
	margin-bottom: 30px;
	position: relative;
}
.pic2 .items-wrapper .item a:hover .img {
	box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
    transition: all 0.2s ease 0s;
}
.pic2 .items-wrapper .item a:hover .img:before {
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
	transition: all 0.2s ease 0s;
}
.pic2 .items-wrapper .item img {
	width: 100%;
}
.content .pic {
	margin-bottom: 25px;
	position: relative;
	z-index: 5;
}
.content .pic img {
	width: 125px;
	height: 125px;
	border-radius: 50%;
	box-shadow: 0 0px 4px 0 rgba(0,0,0,0.18), 0 0px 12px 0 rgba(0,0,0,0.15);
    opacity: .9;
}
.body-wrap {
	position: relative;
	z-index: 5;
}
.body-wrap .name {
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #000;
}
.body-wrap .descr {
	font-size: 19px;
	font-weight: 500;
	color: #7b7b7b;
	margin-bottom: 30px;
}
.social-links a {
	display: inline-block;
	width: 35px;
	height: 35px;
}
.social-links a svg {
	width: 17px;
	height: 17px;
}
.bg1 {
	background: #fff;
}
.customScroll {
	height: 300vh;
	position: relative;
	overflow: hidden;
}
.customScroll.before > div {
	position: absolute;
} 
.customScroll.active > div {
	position: fixed;
} 
.customScroll.after > div {
	position: absolute;
} 
.customScroll.after .pic3 {
	bottom: 0;	
	width: 100%;
	top: auto;
}
.pic1 {
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-size: cover;	
	z-index: 3;
	overflow: hidden;
	position: relative;
}
.bg[data-background="bg"] {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: block;
	will-change: transform;
}
.pic2 {
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-size: cover; 
	z-index: 2;
	overflow: hidden;
}
.pic3 {
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-size: cover; 
	z-index: 1;
	overflow: hidden;
}
.slick-slider .slick-track {
	padding: 25px 0;
}

.slick-dots {
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 30px 0 0;
	list-style: none;
}

.slick-dots li {
	margin: 0 5px;
}

.slick-dots li button {
	width: 16px;
    height: 16px;
    font-size: 0;
    border: 2px solid #fff;
    border-radius: 50%;
    background: none;
}

.slick-dots li.slick-active button {
	background: #fff;
}

@media all and (max-width: 1023px) {

	.customScroll {
		height: auto;
		position: relative;
		overflow: hidden;
	}
	.customScroll.before > div, .customScroll.active > div, .customScroll.after > div {
		position: static;
	}
	.pic2 .items-wrapper {
		max-width: 85%; 
	}

}