body {
    color: #000;
    font-family: "Montserrat", Arial, sans-serif;
    padding: 0;
    margin: 0;
}
* {
	outline: none;
}
.content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	min-height: 100vh;
	color: #fff;
}
.content > div {
	position: relative;
	z-index: 5;
}
.pic1 .content .scroll-down {
	position: absolute;
	bottom: 50px;
	left: 50%;
	cursor: pointer;
	margin-left: -25px;
}
.pic2 .items-wrapper {
	max-width: 90%; 
}
.pic2 .title, .pic3 .title  {
	font-size: 45px;
	color: #fff;
	font-family: 'Knewave', 'Roboto', Arial, sans-serif;
	margin-bottom: 50px;
}
.pic2 .items-wrapper .slick-arrow, .pic3 .slick-arrow {
	width: 60px;
	height: 60px;
	background: url('../images/next.svg') no-repeat;
	background-size: cover;
	font-size: 0;
	cursor: pointer;
	border: none;
	position: absolute;
	top: 50%;
	margin-top: -30px;
	opacity: 0.3;
	transition: all 0.4s;
}
.pic2 .items-wrapper .slick-arrow:hover, .pic3 .slick-arrow:hover {
	opacity: 1;
	transition: all 0.4s;
}
.pic2 .items-wrapper .slick-prev, .pic3 .slick-prev {
	transform: rotate(180deg);
	left: -60px;
}
.pic2 .items-wrapper .slick-next, .pic3 .slick-next {
	right: -60px;
}
.pic2 .items-wrapper .item {
	margin: 0 19px; 
}
.pic2 .items-wrapper .item a {
	display: inline-block;
	color: #9c9c9c;
	text-decoration: none;
	font-size: 15px;
	font-family: 'Knewave', 'Roboto', Arial, sans-serif;
	transition: all 0.2s ease 0s;
}
.pic2 .items-wrapper .item a:hover {
	color: #fff;
}
.pic2 .items-wrapper .item a .img {
	transition: all 0.2s ease 0s;
	margin-bottom: 30px;
	position: relative;
}
.pic2 .items-wrapper .item a:hover .img {
	box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
    transition: all 0.2s ease 0s;
}
.pic2 .items-wrapper .item a:hover .img:before {
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
	transition: all 0.2s ease 0s;
}
.pic2 .items-wrapper .item img {
	width: 100%;
}
.pic3 .content {
	align-items: flex-start;
	padding: 70px 80px 40px;
	box-sizing: border-box;
	justify-content: flex-start
}
.pic3 .tabs-wrapper {
	width: 100%;
}
.pic3 .app-screens {
	width: 100%;
	box-sizing: border-box;
	display: flex;
}
.pic3 .app-screens.slick-initialized {
	display: block;
}
.pic3 .app-screens .screen {
	margin: 0 5px;
}
.pic3 .app-screens .screen-in {
	border: 2px solid #000719;
	border-radius: 29px;
	overflow: hidden;
	font-size: 0;
	max-width: 251px;
	max-height: 515px;
	margin: 0 auto;
	box-sizing: border-box;
}
.pic3 .app-screens img { 
	max-width: 250px;
}


.content .pic {
	margin-bottom: 25px;
	position: relative;
	z-index: 5;
}
.content .pic img {
	width: 125px;
	height: 125px;
	border-radius: 50%;
	box-shadow: 0 0px 4px 0 rgba(255,255,255,0.18), 0 0px 12px 0 rgba(255,255,255,0.15);
    opacity: .9;
}
.body-wrap {
	position: relative;
	z-index: 5;
}
.body-wrap .name {
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #fff;
}
.body-wrap .descr {
	font-size: 19px;
	font-weight: 500;
	color: #fafafa;
	margin-bottom: 30px;
}
.social-links a {
	display: inline-block;
	width: 35px;
	height: 35px;
} 
.social-links a svg {
	width: 17px;
	height: 17px; 
}
.social-links a svg path {
	fill: #fff;
}
.bg1 {
	background: #fff;
}
/*
.customScroll {
	height: 300vh;
	position: relative;
	overflow: hidden;
}
.customScroll.before > div {
	position: absolute;
} 
.customScroll.active > div {
	position: fixed;
} 
.customScroll.after > div {
	position: absolute;
} 
.customScroll.after .pic3 {
	bottom: 0;	
	width: 100%;
	top: auto;
}
.pic1 {
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-size: cover;	
	z-index: 3;
	overflow: hidden;
	position: relative;
}
.bg[data-background="bg"] {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: block;
	will-change: transform;
}
.pic2 {
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-size: cover; 
	z-index: 2;
	overflow: hidden;
}
.pic3 {
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-size: cover; 
	z-index: 1;
	overflow: hidden;
}*/
.slick-slider .slick-track {
	padding: 25px 0;
}

.slick-dots {
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 30px 0 0;
	list-style: none;
}

.slick-dots li {
	margin: 0 5px;
}

.slick-dots li button {
	width: 16px;
    height: 16px;
    font-size: 0;
    border: 2px solid #fff;
    border-radius: 50%;
    background: none;
}

.slick-dots li.slick-active button {
	background: #fff;
}
/* TABS */
.tabs-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 5;
    display: flex;
    margin-bottom: 10px;
}
.tabs-nav li {
	margin: 0 5px;
} 
.tabs-nav li:first-child {
	margin-left: 0;
}
.tabs-nav li:last-child {
	margin-right: 0;
}
.tabs-nav a { 
    border: 1px dashed rgba(255,255,255,0.4);
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: normal;  
    text-align: center;
    text-transform: uppercase;
    text-decoration: none; 
    padding: 11px 25px;
}
.tabs-nav .tab-active a {
    border-style: solid;
}
.tabs-nav .tab-active a span {
	border-bottom: 1px dashed rgba(255,255,255,0.7);
}
.tabs-stage {
    margin-bottom: 20px;
    position: relative;
    padding: 20px;
} 

@media all and (max-width: 1023px) {
	.pic2 .items-wrapper {
		max-width: 85%; 
	}
	.pic1 .content .scroll-down {
		display: none;
	}
}

@media all and (max-width: 900px) {
	.pic3 .content {
		padding: 70px 40px 40px;
	}
	.tabs-stage {
		padding: 0;
	}
	.pic3 .slick-next {
		right: -30px;
	}
	.pic3 .slick-prev {
		left: -30px;
	}
}

@media all and (max-width: 500px) {
	.tabs-nav a {
		font-size: 13px;
		line-height: 1.5;
		padding: 7px 10px;
	}
}

@media all and (max-width: 375px) {
	.pic3 .content {
		padding: 40px 20px 30px;
	}
}


/* Particles */

/* ---- reset ---- */ body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; } canvas{ display: block; vertical-align: bottom; } /* ---- particles.js container ---- */ #particles-js{ position:fixed; width: 100%; height: 100%; background-color: #000719; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } 